.encabezado {
  text-align: center;
    display: flex;
    align-items: center; /* Alinea verticalmente al centro */
    background-color: #002e5f75;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imagen-pequeña {

    border-radius: 50%;
    border: 2px solid #3498db;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}



/* Estilos personalizados */
.custom-background {
    background-color: #f8f9fa; /* Color de fondo claro */
    border: 4px solid #088c8e; /* Borde */
    border-radius: 0px; /* Borde redondeado */
  }
  
  .experience {
background-color: #1f002a;

  }
  .ExperienceOne {
    background-color: #002e5f75;
    border: 4px solid #f39c12; /* Cambia el color del borde a amarillo */
    border-radius: 10px; /* Hace que el borde sea redondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Hace que la sombra sea más pronunciada */
    text-align: center;
  }

  .ExperienceTwo {
    display: inline-block; /* Hace que el fondo se adapte al contenido */
    background-color: #002e5f75;
    color: #f39c12;
    border-radius: 20px; /* Hace que el borde sea redondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Hace que la sombra sea más pronunciada */
    text-align: center;
    padding: 6px; /* Agrega margen alrededor del contenido */
  }
  
  .TitleBienvenido{
    display: block;
    background-color: #002e5f75;
    border: 4px solid #f39c12; /* Cambia el color del borde a amarillo */
    border-radius: 10px; /* Hace que el borde sea redondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Hace que la sombra sea más pronunciada */
    text-align: center;
  }
  
  .square-container {
    width: 300px; /* Cambia este valor según el tamaño deseado del contenedor */
    height: 300px; /* Igual que el ancho, para hacer un contenedor cuadrado */
  }
  

  .fade-carousel-item {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-carousel-item.active {
    opacity: 1;
  }
  